* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('backgroundHomepage.png');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1400px;
}

.left-section {
  flex: 1;
}

.left-section h1 {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
}

.left-section .tagline {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 300;
  color: #d0d0d0;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 25px 0;
  position: relative;
}

nav ul li::after {
  content: "";
  display: block;
  width: 150%; 
  height: 1px;
  background-color: white;
  margin-top: 8px;
}


nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #aaaaaa;
}


